
<%= form_for([@article, @article.reviews.build]) do |f| %>




  <% if @article.reviews.build.errors.any? %>
  <div id="error_explanation">
      <h2>
        <%= pluralize(@article.reviews.build.errors.count, "error") %> prohibited
        this@article.reviews.build.from being saved:
      </h2>
      <ul>
        <% @article.reviews.build.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= f.label "Reviewer :" %>
    <%= current_user.email %>
    <%= f.hidden_field :reviewer, :value => current_user.email %>
  </p>
  <p>
    <%= f.label "Text" %><br>
    <%= f.text_area :body, cols: "70", rows: "5" %>
  </p>

  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end%>

  <p>
    <%= f.submit "Send Request", class: "btn btn-primary" %>
  </p>
<% end %>